<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612576247724-fho6kqqvse1jou2dk7b9ifnnpftoerdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612576247724-fho6kqqvse1jou2dk7b9ifnnpftoerdk</string>
	<key>API_KEY</key>
	<string>AIzaSyAJnDRACNczSk_jasD6VbrDP3fvgzfy5Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>612576247724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.push</string>
	<key>PROJECT_ID</key>
	<string>push-a0995</string>
	<key>STORAGE_BUCKET</key>
	<string>push-a0995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612576247724:ios:00ccaa235ac58f8d01c409</string>
</dict>
</plist>